.container {
	max-width: 630px;
	margin: 0 auto;

	&--box-lg {
	background: $light;
	padding: 30px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 30px;



	&:last-child {
		padding-bottom: 0;
	}
	}

	&--box-md {
		max-width: 370px;
		margin: 0 auto;
	}

	&--box-sm {
		max-width: 260px;
		margin: 0 auto 55px;
	}


		@media screen and (max-width: 700px) {
			&--box-md {
			max-width: 100%;
			padding: 10px;
			}

			&--box-lg {
				padding: 10px;
			}


		}
	}
