.t-bold {
	font-weight: bold;
}

.t-center {
	text-align: center;
}

.t-left {
	text-align: left;
}

.t-dark {
	color: $dark;
}

.t-light {
	color: $light;
}

.t-help {
	color: $help;
}

.t-primary {
	color: $primary;
}

.tt-u {
	text-transform: uppercase;
}
