.btn {
	color: $light;
	background: linear-gradient(to left,#f4632c, #F47A2E);
	transition: background 0.5s linear;

	&-lg {
		height: 60px;
		padding: 20px 80px;
		font-size: 16px;
		border-radius: 10px;
		margin: 25px 0 35px;
		text-transform: uppercase;

		@media screen and (max-width: 400px) {
			padding: 20px 40px;
		}

	}

	&-sm {
		text-align: center;
		max-width: 90px;
		font-size: 14px;
		padding: 5px 22px;
		border-radius: 10px;
		text-decoration: none;

		@media screen and (max-width: 550px) {
			padding: 5px 10px;
		}

	}

	&:hover,
	&:focus {
		background: linear-gradient(to left,#F47A2E, #f4632c);
	}

}

button {
	border: none;
}

