.navigation {
	padding: 0 80px;

	&__list {
		margin: 0;
		padding-left: 0;

	}

	&__item {
		list-style: none;

	}

	&__link {
		text-decoration: none;
		font-size: 14px;
		padding: 20px;
		display: inline-block;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			background: $secondary;
			transform: scaleX(0);
			transition: transform 0.2s;
		}

		&:hover::after,
		&:focus::after,
		&.is-active::after {
			transform: scaleX(1);
		}
	}

	&--main {
		box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.12);
		height: 60px;
	}


	@media screen and (max-width: 1065px) {
		padding:0 20px;

		&__link {
			font-size: 12px;
			padding: 15px 30px;
		}

		&__list--main {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background: $light;
			display: block;
			transform-origin: top left;
			transform: scaleY(0);
			transition: 0.3s ease-in;
		}

		&__link--main {
			display: block;
		}

		&--main {
			height: 100%;
			position: relative;
		}

		// STATES
		.is-menu-open &__list--main {
			transform: scaleY(1);
		}

	}

	@media screen and (max-width: 950px) {
		padding-top: 5px;
	}


	&__btn {
		padding: 0 20px;
		position: relative;
		margin: 0 15px;

		@media screen and (max-width: 1155px) {
			padding: 0px 10px;
			margin: 0;
		}
		@media screen and (max-width: 950px) {
			padding: 0;
		}


	}

	&__btn + .selected {
		background: $info;
		border-bottom: $primary 3px solid;
		border-right: $help 2px solid;
		height: 60px;
		box-sizing: border-box;

		@media screen and (max-width: 1065px) {
			background: transparent;
			border: none;
			height: auto;
		}


	}

	&__btn::before {
			content: "";
			width: 2px;
			height: 60px;
			background: $help;
			position: absolute;
			left: 0;

			@media screen and (max-width: 1065px) {
			display: none;
		}

		}


}












